{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h1>Add Inventory</h1>
      <div class="card mb-4">
        <div class="card-body">
          <form method="post">
            <div class="form-group">
              <label for="product_name">Product Name:</label>
              <select name="product_name" class="form-control" id="product_name">
                {% for product in products %}
                <option value="{{ product.product_name }}">{{ product.product_name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="quantity">Quantity:</label>
              <input type="text" class="form-control" id="quantity" name="quantity">
            </div>
            <div class="form-group" style="margin-bottom: 10px;">
              <label for="storage_id">Storage Location:</label>
              <select name="storage_id" class="form-control" id="storage_id">
                {% for storage_location in storage_locations %}
                <option value="{{ storage_location.storage_id }}">{{ storage_location.section, storage_location.level, storage_location.shelf}}</option>
                {% endfor %}
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Add inventory</button>
            <a href="{{ url_for('inventory') }}" class="btn btn-secondary">Back</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}


